/* FILE: starter/content/wp/blocks/_block.scss */

[class^="wp-block-"] {
  margin-bottom: $golden +em;

  &:last-child {
    margin-bottom: 0;
  }

  figcaption {
    margin: 0;
    padding: $golden_major +em;
  }

}

%block_list_no_style {
  margin-#{$left}: 0; // {{RTL}}
  list-style: none;
}

%block_list_items {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  border-top-width: $golden_minor +em;
  border-top-style: solid;
  border-bottom-width: $golden_minor +em;
  border-bottom-style: solid;

  [class^="wp-block-"] {
    margin-bottom: 0;
  }

}

%block_list_items_child {
  margin: 0;
  padding: 1em 0;
  font-size: inherit;
  line-height: inherit;

  > a {
    text-decoration: none;
    font-size: 1.618em;
    font-weight: 700;
    color: map_get($customize_options, 'color_header_headings');
    vertical-align: middle;
  }

  > time {
    margin-left: 2em;
    display: inline-block;
    vertical-align: middle;
  }

  .wp-block-latest-posts__post-excerpt {
    margin-top: 1.5em;
  }

  &:not(:first-child) {
    margin-top: 2.3em;
    border-top: dashed 2px map_get($customize_options, 'color_separator');
    padding-top: 2.3em;
  }

}
