/* Borders */

.border-top {
  margin-top: 16px;
  border-top: 1px solid rgba(83, 83, 84, 0.2)
}

/* Spacing rules:
 * xs: 8px
 * sm: 12px
 * md (Base): 16px
 * lg: 24px
 * xl: 48px
 */
/* Standard margin */
.ma-md {
  margin: 16px;
}

.mt-md {
  margin-top: 16px;
}

.mb-md {
  margin-bottom: 16px;
}

.ml-md {
  margin-left: 16px;
}

.mr-md {
  margin-right: 16px;
}

.mx-md {
  margin-left: 16px;
  margin-right: 16px
}

.my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-none {
  margin-bottom: 0 !important;
}


/* Standard padding */
.pa-md {
  padding: 16px;
}

.pt-md {
  padding-top: 16px;
}

.pb-md {
  padding-bottom: 16px;
}

.pl-md {
  padding-left: 16px;
}

.pr-md {
  padding-right: 16px;
}

.px-md {
  padding-left: 16px;
  padding-right: 16px
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

// map_get($customize_options, 'color_highlight');

.wp-block-group.alignwide .wp-block-group__inner-container {
  // max-width: 70%;
}

.wp-block-social-links:not(.is-style-logos-only) {
  .wp-social-link- {
    &anchor {
      background-color: #8940FA;
      color: #fff;
    }

    &apple-podcast {
      background-color: #882fc4;
      color: #fff;
    }

    &google-podcast {
      background-color: #0066d9;
      color: #fff;
    }

    &ivoox {
      background-color: #FF8000;
      color: #fff;
    }
  }


}

.wp-block-column {
  &.flex-grow {
    flex: 1 1 auto;
  }

  &.flex-shrink {
    flex: 0 1 auto;
  }
}

@media (max-width: 671px){
  .image-first {
    flex-direction: column-reverse;
  }
}