/* Clear */
:focus {
  outline: none;
}

/* Borders */
.border-top {
  margin-top: 16px;
  border-top: 1px solid rgba(83, 83, 84, 0.2);
}

/* Fix theme */
.entry {
  padding-bottom: 48px;
}

.main-navigation-container .menu .current-menu-item > a,
.main-navigation-container .menu .current-menu-item > a:hover {
  border-color: #dd6892 !important;
}

.wp-block-group.alignwide .wp-block-group__inner-container {
  max-width: 70%;
}

.intro-special-has-media {
  background-image: none;
  background-color: #dd6892 !important;
}
.intro-special {
  background-image: none;
  background-color: #dd6892 !important;
  padding: 5%;
}
.intro-special .intro-inner {
  max-width: 70%;
}
.intro-special .intro-media {
  display: none;
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-anchor {
  background-color: #8940fa;
  color: #fff;
}

.wp-block-latest-posts.wp-block-latest-posts:not(.is-grid) {
  border: none;
}
.wp-block-latest-posts.wp-block-latest-posts:not(.is-grid) li + li {
  border: none;
  border-top: dashed 2px #ddd;
  margin-top: 40px;
  padding-top: 40px;
}

.introduction-podcast-player .jetpack-podcast-player {
  border-radius: 16px;
  padding: 8px 1em 16px !important;
}

.jetpack-podcast-player__cover {
  width: 125px !important;
}

.jetpack-podcast-player__cover img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
}

.border-radius {
  border-radius: 8px;
}

.feature-page-wrapper .entry-thumbnail .entry-thumbnail-wrapper > a > img {
  border-radius: 12px;
}

.feature-page-wrapper .entry-thumbnail:after {
  border-radius: 8px;
}

.wp-block-social-links:not(.is-style-logos-only) {
  .wp-social-link- {
    &anchor {
      background-color: #8940fa;
      color: #fff;
    }

    &apple-podcast {
      background-color: #882fc4;
      color: #fff;
    }

    &google-podcast {
      background-color: #0066d9;
      color: #fff;
    }

    &ivoox {
      background-color: #ff8000;
      color: #fff;
    }
  }
}

.wp-block-column {
  &.flex-grow {
    flex: 1 1 auto;
  }

  &.flex-shrink {
    flex: 0 1 auto;
  }
}

@media (max-width: 671px) {
  .image-first {
    flex-direction: column-reverse;
  }
}

.wp-block-columns.align-middle > .wp-block-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
